@charset "UTF-8";

@media (max-width: 1215px) {
    main { max-height: max-content; }

    article {
        display: grid;
        grid-template-columns: repeat(2, 400px);
        width: max-content;
        height: 3500px;
        margin: auto;
        gap: 0px;
    }
}

@media (max-width: 760px) {
    main { 
        margin-top: 50px;
        max-height: max-content;
    }

    article {
        display: grid;
        grid-template-columns: 250px 250px;
        grid-template-rows: 350px;
        max-height: 2500px;
        align-items: center;
    }

    .produto { height: 300px; }

    .produto > img {
        max-width: 170px;
        height: 170px;
        margin: auto;
    }

    .produto figcaption { font-size: .9em; }

    .botoes {
        position: relative;
        top: 13.5%;
        display: flex;
        gap: 20px;
    }

    .botao { padding: 1px; }

    aside {
        position: fixed;
        top: 0;
        left: 0;
        width: 300px;
        height: 100vh;
        z-index: 100;
        border-right: 4px groove #444;
    }

    aside > ul li {
        font-size: 2em;
        text-align: center;
        width: 100%;
        padding: 10px;
        line-height: 35pt;
    }

    aside > ul li:hover {
        background-color: rgba(240, 248, 255, 0.7);
        cursor: pointer;
    }

    aside h1 { text-align: center; }

    #botao-menu-lateral { position: fixed; }
}
