@import url(./variables.css);

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--bg-primary);
    padding: 0;
    box-sizing: border-box;
}

.interface{
    min-width: 1280px;
    /* padding: 20px; */
}